.footer{
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 50px 20px;
    text-align: center;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);

}

.navigate a{
    color: var(--color-primary);
    text-decoration: none;
}

.navigate a:hover{
    color: var(--color-text);
}

.navigate{
    display: flex; 
    gap: 30px; 
    align-items: center; 
    justify-content: center;
}